.node--type-event-page{
  .node__content{
    //width: 90%;
    //margin-left: 10%;
  }

  .layout--twocol-section{
    .layout__region--first{
    }

    .layout__region--second{
    }
  }
  .field--name-field-date-time, .block--field-blocknodeevent-pagefield-location{
    margin-left: 10%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
  }
  .field--name-field-date-time{
   margin-top: 4em;
  }
  .block--field-blocknodeevent-pagefield-location{
    margin-bottom: 6em;
  }
  //.field--name-field-image{
  //  > img {
  //    width: 100%;
  //  }
  //}


  .paragraph--type--header-banner-basic{
    margin-left: 10%;
    width: 60%;
    position: absolute;
    z-index: 20;
    :first-child > h1{
      text-transform: uppercase;
      font-weight: 700;
      font-size: 6.5em;
      line-height: 90%;
      margin: 0 0 0.5em 0;
    }
  }

  .field--name-field-link > a{
    color: #212121;
    background-color: #FFB648;
    padding: 0.75em;
    font-weight: bold;
  }

  .layout--twocol-section--50-50:nth-child(2){
    background-color: #F4F1E6;
    padding: 5em 0 8em 0;
    margin-top: -5%;
  }

  .field--name-field-subheading{
    margin-left: 20%;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 100%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    color: #7A3813
  }

  .block--field-blocknodeevent-pagefield-description{
    width: 37%;
    color: #212121;
    margin-top: 6em;
    margin-bottom: 2em;
  }

  .layout--twocol-section--50-50:nth-child(3){
    padding-top: 5em;
    width: 80%;
    margin-left: 10%;
    a{
      color: #FFB648;
      text-decoration: underline;
      font-weight: bold;
    }
    .field--name-field-heading{
      font-size: 3rem;
      font-weight: bolder;
    }
    .field--name-field-sponsor{
      background-color: white;
      border-radius: 1em;
      padding: 2em;
      text-align: center;
      width: 65%;
    }

  }

}
